body {
    font-family:'Yu Gothic', 'YuGothic', 'Meiryo', 'メイリオ', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'Osaka', 'MS PGothic', 'arial', 'helvetica', 'sans-serif';
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    flex-direction: column;
    font-size: 4em;
}

#_404 {
    position: fixed;
}

#pnf {
    
    padding-top: 4em;
    text-align: center;
    font-size: .5em;
    height: 0;
}
/* margin: 0;
padding: 0;
background: #fff;
color: #333;
line-height: 1.5;
text-align: center;
text-shadow: 0 1px 0 #fff;
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
font-size: 8vh; */